<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css" integrity="sha256-XF2msWsEjJwE8ORQ0exG5nFk8jDTntTMbUZKtvPRkgU=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Keycord - Keybase integration for Discord</title>
</head>
    
    <body>
        <script>
document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
        </script>
        <style>
.navbar-menu {
    box-shadow: none;
}
.button {
    border-color: transparent;
}
        </style>
            <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/" class="navbar-item">
                            Keycord
                        </a>
                        <span class="navbar-burger burger" data-target="navMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div class="navbar-menu" id="navMenu">
                        <div class="navbar-start">
                            <a href="https://discord.gg/gfczwmb" class="navbar-item">
                                Discord
                            </a>
                            <a href="/about"class="navbar-item">
                                About
                            </a>
                        </div>
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <form action="/user" autocomplete="off" method="get">
                                    <input class="input is-rounded" type="text" placeholder="Put a user ID here..." name="id">
                                </form>
                            </div>
                        </div>
                    </div>
                  </nav>

        {% block content %}{% endblock %}
    
    </body>
</html>
