
{% extends 'base.html' %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            Keycord
        </h1>
        <h2 class="subtitle">
            Keybase integration for Discord.
        </h2>
        <a style="background-color: #7289DA" class="button is-medium is-rounded" href="https://discord.gg/gfczwmb" style="">
            <i class="fab fa-discord fa-fw"></i> Join the Discord
            </a>
        </div>
    </div>
</section>
{% endblock %}